export(articles)
export(newscrapeR)
export(migrate.newscrapeR)
export(download)
export(add.sources)
export(remove.sources)
export(available.sources)
export(sources)
export(ArtListToDF)
export(ArtListToCorpus)
exportMethods(show)
exportMethods(download)
exportMethods(summary)
exportClasses(Article)
exportClasses(Source)
exportClasses(newscrapeR)