export(articles)
export(newscrapeR)
export(migrate.newscrapeR)
export(download)
export(add.sources)
export(remove.sources)
export(available.sources)
export(sources)
export(ArtListToDF)
export(ArtListToCorpus)

export(getTweets)
export(downloadTweets)
export(CitationContainer)
export(migrate.CitationContainer)


exportMethods(show)
exportMethods(download)
exportMethods(summary)

# newscrapeR  classes
exportClasses(Article)
exportClasses(Source)
exportClasses(newscrapeR)

# twitteR connection
exportClasses(TwitterCitation)
exportClasses(CitationContainer)
exportClasses(UserContainer)
