exportClasses('Article','Source','newscrapeR','PDFSource')

exportClasses('TwitterCitation','CitationContainer',
'UserContainer')

exportMethods(summary,as.data.frame)

export(articles)
export(newscrapeR)
export(migrate.newscrapeR)
export(download)
export(add.sources)
export(remove.sources)
export(available.sources)
export(sources)
export(ArtListToDF)
export(ArtListToCorpus)

export(getTweets)
export(downloadTweets)
export(CitationContainer)
export(migrate.CitationContainer)

